* {
  background-color: rgb(126, 107, 107);
}

.rect {
  background-color: azure;
  width: 400px;
  height: 270px;
  border: 1px solid white;
  position: relative;
  top: 170px;
  left: 290px;
}
.saff {
  background-color: rgb(255, 103, 31);
  width: 400px;
  height: 90px;
}
.white {
  background-color: #ffffff;
  width: 400px;
  height: 90px;
}
div > img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-left: 165px;
  margin-top: 15px;
}
.green {
  background-color: #046a38;
  width: 400px;
  height: 90px;
}
