.container1 {
  background-color: #f2f2f2;
  text-align: center;
  border: 2px solid transparent;
  width: 370px;
  height: 370px;
  display: inline-flex;
  margin-left: 90px;
  margin-top: 160px;
  justify-content: center;
}
.basic > li {
  list-style: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  line-height: 40px;
}
h1 {
  font-size: 3rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
div .basic .log {
  background-color: orange;
  border: 2px solid red;
  font-size: small;
  width:80px;
  margin-left: 120px;
  font-weight: 500px;
  
}
div .standard .log {
  background-color: orange;
  border: 2px solid red;
  font-size: small;
  width: 80px;
  margin-left: 120px;
  font-weight: 500;
}
.standard > li {
  list-style: none;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 40px;
}
.standard > h1 {
  font-size: 3rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container2 {
  background-color: #f2f2f2;
  text-align: center;
  border: 2px solid transparent;
  width: 370px;
  height: 370px;
  display: inline-flex;
  margin: 60px;
  justify-content: center;
 
  
}
.container3 {
  background-color: #f2f2f2;
  text-align: center;
  border: 2px solid transparent;
  width: 370px;
  height: 370px;
  display: inline-flex;
  justify-content: center;
  margin-left: 10px;
 
 
}

  

body > div.container1 > div > li:nth-child(3) > i{
    background-color: greenyellow;
    color:whitesmoke;
}
body > div.container1 > div > li:nth-child(4) > i{
    background-color: greenyellow;
    color: whitesmoke;
}
body > div.container1 > div > li:nth-child(5) > i{
    color: red;
}
body > div.container2 > div > li:nth-child(3) > i{
    background-color: greenyellow;
    color: beige;
}
body > div.container2 > div > li:nth-child(4) > i{
    background-color: greenyellow;
    color: beige;
}
body > div.container2 > div > li:nth-child(5) > i{
    background-color: greenyellow;
    color:beige;
}
body > div.container3 > div > li:nth-child(3) > i{
    background-color: greenyellow;
    color: beige;
}
body > div.container3 > div > li:nth-child(4) > i{
    background-color: greenyellow;
    color: beige;
}
body > div.container3 > div > li:nth-child(5) > i{
    background-color: greenyellow;
    color: beige;
}
