.container{
      display: flex;
      background-color: yellow;
      gap: 10px;
      padding: 10px;}
      li{
        list-style: none;
      }
    
      
      
      

p{
font-weight: 700;
margin: 0;
}
