#title{
    color: rgb(255, 187, 0);
}
#ele{
    font-weight: bolder;
    font-size: 4rem;
}
.main{
    display: inline-block;
}
body{
    width: 40%;
}
.flow{
    width: 200px;
    height: 200px;
    float: left;
}
.cons{
    width: 200px;
    height: 200px;
    float: right;
}