.red{
    border: 0px transparent;
    background-color: red;
    display:inline-block;
    width: 200px;
    height: 200px;
    margin-right: 20px;
    
}
.green{
    border: 0px transparent;
    background-color: green;
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-right: 20px;
   
}
.blue{
    border: 0px transparent;
    background-color: blue;
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-right: 20px;
    
}
.same{
    color: white;
}
